/**
 *  Theme Name:UX-Portfolio Single Page PSD
 *  Author: Md.Sujon Ahmed (B.Sc Hon's in CSE at ISTT)
 *  PSD Designer: Marcus Free PSD;
 *  Support: codersujon@gmail.com
 *  Description: UX-Portfolio HTML5 Template;
 *  Version: 1.0;
 */

/*start farmwork*/
/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;600;700;800&display=swap');

/* CSS Variables*/
:root{
	--theme-color: #526cbb;
	--heading-color: #222;
	--text-color: #666;
	--white: #fff;
}
*{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}
a, a:hover{
	text-decoration: none;
	list-style: none;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif; 
	color: var(--heading-color);
	font-weight: normal;
	font-style: normal;
}
body{
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-family: 'Open Sans', sans-serif;
	color: var(--text-color);
}
/*Background*/
.theme-bg{
	background: linear-gradient(to right, rgba(107,77,168,0.85) 0%, rgba(73,119,194,0.85) 100%);
}
.theme-bg-light{
	background: #f6f6f6;
}
.dark-bg{
	background: var(--heading-color);
}
/*Button*/
.btn {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid #fff;
    padding: 15px 20px;
    background: transparent;
    display: inline-block;
    border-radius: 0;
    letter-spacing: 1px;
    transition: all .3s ease-in;
}
.default-btn:hover{
	background-color: var(--heading-color);
	color: var(--white);
	border: 2px solid var(--heading-color);
}
.theme-btn{
	border: 2px solid var(--theme-color);
	color: var(--theme-color);
	font-weight: 600;
	transition: .3s ease-out;
}
.theme-btn:hover{
	background: var(--theme-color);
	color: var(--white);
}

/*Padding & Margin*/
.p-30{
	padding: 30px;
}
.py-120{
	padding-top: 120px;
	padding-bottom: 120px;
}
.py-30{
	padding-top: 30px;
	padding-bottom: 30px;
}
.pt-120{
	padding-top: 120px;
}
.pb-90{
	padding-bottom: 90px;
}
.mt-25{
	margin-top: 25px;
}
.mt-70{
	margin-top: 70px;
}
.mt-120{
	margin-top: 120px;
}
.mb-10{
	margin-bottom: 10px;
}
.mb-30{
	margin-bottom: 30px;
}
.my-20{
	margin-top: 20px;
	margin-bottom: 20px;
}
/*end farmwork*/
/*Section-Title*/
.section-title h2{
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 40px;
	padding-bottom: 20px;
	position: relative;
}
.section-title h2:before{
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	height: 5px;
	bottom: 0;
	width: 10%;
	margin: 0 auto;
	background: linear-gradient(to right, rgba(107,77,168,0.85) 0%, rgba(73,119,194,0.85) 100%);
}
.section-white h2{
	color: var(--white);
}
.section-white h2:before{
	background: #8d92cc;
}

/**
 * 2. Header Area
 */
.header-area{
	background: url("../img/bg/header-bg-2.jpg");
	background-size: cover;
	min-height: 870px;
}
.overlay{
	background: linear-gradient(to right, rgba(107,77,168,0.85) 0%, rgba(73,119,194,0.85) 100%);
}
.header-area .overlay{
	min-height: 870px;
}
.header__content{
	margin-top: 300px;
}
.header__content h1 {
    color: var(--white);
    font-size: 55px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 25px;
}
.header__content p{
	font-size: 17px;
	font-weight: 500;
	color: var(--white);
	margin-bottom: 40px;
	letter-spacing: 1px;
}
/*navbar*/
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link{
    color: var(--white);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 20px 30px;
}

/**
 * 3. About Area
 */
.uxabout__content p{
	text-align: justify;
	font-size: 15px;
	line-height: 24px;
}

/**
 * 4. Skills Area
 */
.single-skill .chart{
	position: relative;
	display: inline-block;
	width: 140px;
	height: 140px;
	line-height: 140px;
	font-size: 22px;
	color: #fff;
	margin-bottom: 25px;
}
.single-skill .chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.single-skill h4 {
    color: #fff;
    font-weight: 600;
}

/**
 * 5. Portfolio-Area
 */
.portfolio__filters button{
	margin-right: 30px;
	margin-bottom: 30px;
	padding: 8px 20px;
}
.portfolio__filters .mixitup-control-active{
	background-color: var(--theme-color);
	color: var(--white);
}
.single-portfolio img{
	margin-bottom: 30px;
}
/**
 * 6. Counter Area
 */
.count-box span{
	font-size: 50px;
}
.count-box h3 {
    font-size: 22px;
}
/**
 * 7. Testimonials Area
 */
blockquote i{
	font-size: 26px;
	color: #eee;
}
blockquote .client-details{
	border-top: 1px solid #eee;
	padding-top: 10px;
}
/**
 * 8. Contact Area
 */
.contact-area{
	background: url('../img/bg/contact-bg.jpg');
}
.form-group {
    margin-bottom: 30px;
}
.form-control{
	padding: 14px 13px;
    background: #bcbad8;
    border: 2px solid transparent;
    color: var(--text-color);
    border-radius: 3px;
}
.social-icon a i{
	color: var(--white);
	font-size: 35px;
	margin: 0 20px;
	margin-bottom: 20px;
	transition: .3s;
}
.social-icon a i:hover{
	color: var(--heading-color);
}
/**
 * 9. Footer Area
 */
.footer-area em{
	color: var(--white);
}